@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* debut nav*/
.rowtop{
	height: 80px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.15);
	background-color: white;
}
.navbarL{
			cursor: pointer;

}
a:link {
    color: #343434;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}
#HFlogo{
	width: 80px;
	height: 70px;
}

/* dropdown on mouseover */
.dropdown:hover .dropdown-menu {
  display: block;
}
/* switch arrow + rotate dropdown*/
.drop-cursor-t{
	cursor: text;
}
.dropdown.dropdown-item a:link{
	cursor: text;
}
.dropdown img{
	transition: transform 0.3;
	transition: 0.3s;

}
.LinkOver:hover a:link{
	color: #91c11e;
}
.dropdown:hover img{
	transform: rotate(-180deg);

}
.navbar-right{
		cursor: pointer;

}
.navbar-right a:link{
	color: #91c11e;
	font-size: 14px;
	letter-spacing: -0.3px;
	font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.RLinkOver:hover a:link{
	color: #659a41;
}
/* fin nav*/
/* debut banner*/
#hello{
background-image: url(https://res.cloudinary.com/hellofresh/image/upload/f_auto,fl_lossy,q_auto/v1/hellofresh_website/us/cms/lentil/delicious/HF-homepage-2560x700-Tan.jpg);	background-repeat:no-repeat;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	background-position: center;
	height: 700px;
	position: relative;
}

#MsgHello{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);

}

#MsgHello h1{
	font-size: 50px;
	line-height: 60px;
	color: #343434;
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	letter-spacing: -0.3px;
	text-align: center;
}
#TextSay{
	line-height: 27px;
	text-align: center;
	font-size: 18px;
	font-family: Source Sans Pro;
}

#ButtonGreenB{
}
#ButtonGreen{
	left: 50%;
	margin: 16px auto;
	background-color: #91c11e;
	color: #fff;
	cursor: pointer;
	font-family: Montserrat;

}
/*fin banner*/