@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
.c-offcanvas {
    left: 0;
    padding: 1rem;
    overflow-y: scroll;
    
  }
  
  .js-offcanvas a {
     color: #337ab7;
     outline: 0;
  }
  .c-offcanvas--overlay {
    z-index: 2000!important;
}
  
  .js-offcanvas .dropdown-menu {
    position:relative;
    border:none;
  }


/* debut nav*/

.rowtop{
	height: 80px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.15);
	background-color: white;
}
.navbarL{
			cursor: pointer;

}
li a:link {
    color: #343434;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}
li a:visited {
    color: #343434;
}
.dropdown-menu .dropdown-item a:link{
    color: #343434;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;    
}
#HFlogo{
	width: 80px;
	height: 70px;
}

.logosvg{
    display: none;
    margin-right: 5px;
}
#navbarDropdownMenuLink{
text-decoration: none;
color: black;
}

#login{
	font-weight: 400;
	font-weight: bold;
    font-family: Montserrat;
	color: #91c11e;
    font-size: 14px;
    line-height: 16px;
}
.LoginResponsiveVanish{
    right: -19%;
}
.LoginResponsive{
    
    display: inline-block;
    position: relative;
    color: #343434;
    font-size: 16px;
    font-weight: 400;
   
    padding: 0px !important;
    outline: none;
}
.loginspan{
    cursor: pointer;
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-family: Montserrat;
    letter-spacing: -0.3px;
    min-width: 120px;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    background-color: transparent;
    color: #91c11e;
    font-size: 14px;
    line-height: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: inline-block;
}
.loginspan:hover{
    color:#659943;
}
/* dropdown on mouseover */
.dropdown:hover .dropdown-menu {
  display: block;
}
/* switch arrow + rotate dropdown*/
.drop-cursor-t{
	cursor: text;
}
.dropdown.dropdown-item a:link{
	cursor: text;
}
.dropdown img{
	transition: transform 0.3;
	transition: 0.3s;

}
/*.LinkOver{
    height: 80px;
}*/
.LinkOver a:hover link{
	color: #91c11e;
}
.dropdown:hover img{
	transform: rotate(-180deg);

}
.navbar-right{
		cursor: pointer;

}
.navbar-right a:link{
	color: #91c11e;
	font-size: 14px;
	letter-spacing: -0.3px;
	font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.RLinkOver:hover a:link{
	color: #659a41;
}
/* fin nav*/
/* debut banner*/
#hello{
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	background-position: center;
	
	position: relative;
}

#MsgHello{
	position: absolute;
	
	-webkit-transform: translate(-50%, -50%);
	text-align: center;

}

#MsgHello h1{
	
	
	color: #343434;
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	letter-spacing: -0.3px;
	text-align: center;
}
#TextSay{
	line-height: 27px;
	text-align: center;
	font-size: 18px;
	font-family: Source Sans Pro;
}

.ButtonGreen{
	
	cursor: pointer;
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    font-weight: bold;
    font-family: Montserrat;
    letter-spacing: -0.3px;
    min-width: 120px;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    background-color: #91c11e;
    color: #fff!important;
    font-size: 14px;
    line-height: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 10px;
}

.ButtonGreen:hover {
    background-color: #659943;
}


/*fin banner*/

/* HowItWorks */



.card{
	border:none;
}
.card-img-top{
	height: 100px;
    width: 100px;

}

.card-title{
	font-size: 16px;
	font-weight: 600;
	text-align: center;
}
.card-text{
	text-align: center;
}
.ButtonHow{
	color: #91c11e;
	border-color:#91c11e;
	    font-weight: 400;
    font-family: Montserrat;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 30px;

}
.ButtonHow:hover {
    background-color: #659943;
}

/* What */
croixtop{
margin-top: 2px;
}
#what{
    
	height:450px;
}
#backgroundimg{
    background-color: white;
}
#what h2{
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 2em;
    font-size: 32px;
    text-align: center;
    color: #343434;
    font-family: Montserrat;
    letter-spacing: -0.3px;
}
.croix{
    margin-left: 5px;
}
#what p{
    font-size: 2vw;
}
 
/*Section Weekly menus*/
 
/*carousel date*/
#carouselExampleControls h1{
    max-height: 50px;
}
 
.date_week .glyphicon{
    padding-left: 100%;
    padding-right: 100%;
    color: #444747;
}
 
 
/*pills (type de menus)*/
 
.nav-justified{
    padding:0% 15% 5% 15% ;
}
 
.nav-pills li a{
    color:black;
    background-color: white;
    font-size: 18px;
}
 
.nav-pills li .active {
    color: #8fc400 !important;
    border-bottom:#8fc400 solid 4px;
    background-color: white !important;
}
 
.type_menu{
    margin-right: 12%;
    margin-left: 12%;
}
 
 
/*Carousel des plats*/
 
/*.carousel slide .carousel-inner > .carousel-item {
    -webkit-transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out left;
  }
 
  .carousel slide .carousel-inner .active.left {
    left: -33%;
  }
 
  .mcarousel slide .carousel-inner .active.right {
    left: 33%;
  }
 
  .carousel slide .carousel-inner .next {
    left: 33%;
  }
 
  .carousel slide .carousel-inner .prev {
    left: -33%;
  }
 
  @media all and (transform-3d), (-webkit-transform-3d) {
    .carousel slide .carousel-inner > .carousel-item {
      -webkit-transition: 500ms ease-in-out left;
      transition: 500ms ease-in-out left;
      -webkit-transition: 500ms ease-in-out all;
      transition: 500ms ease-in-out all;
      -webkit-backface-visibility: visible;
              backface-visibility: visible;
      -webkit-transform: none!important;
              transform: none!important;
    }
  }
 
.carousel slide .carouse-control.left,
.carousel slide .carouse-control.right {
    background-image: none;
}
*/
 
@media (min-width: 768px) {
 
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
   
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
   
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
   
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
   
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
   
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
   
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
 
}
 
 /* Bootstrap Lightbox using Modal */
 
#profile-grid { overflow: auto; white-space: normal; }
#profile-grid .profile { padding-bottom: 40px; }
#profile-grid .panel { padding: 0 }
#profile-grid .panel-body { padding: 15px }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .thumbnail {margin-bottom:6px;}
#profile-grid .panel-thumbnail { overflow: hidden; }
#profile-grid .img-rounded { border-radius: 4px 4px 0 0;}
 
.name_dish{
    font-weight: bold;
}
 
.caption{
    margin-top: 1.5%;
}
 
 
/*caption version smarthone*/
@media screen and (max-width: 767px) {
    .caption{
            display:none;
    }
}
 
.time{
    float:right;
}
 
.legend{
    float: left;
    width: 82%;
}
 
 
/*Bouton section plats*/
 
.button_plans button{
    background-color:#8fc400;
    color: white;
    text-transform: uppercase;
    padding: 1% 7%;
    text-align: center;
}
 
/*Section Twitter*/
 
@media screen and (max-width: 767px) {
    .tweet2{
            display:none;
    }
    .tweet3{
        display:none;
}
}
 
 
.twitter_section{
    margin-bottom: 3%;
}
 
 
 
/*Section Flexible plans*/
 
.plans{
    background-image: url('http://res.cloudinary.com/dx0ubgpga/image/upload/v1520435400/Homepage-Footer-Flexible-1200x400_qdw1cc.jpg');
    background-size: cover;
    height: 300px;
}
 
.flexible_plans h1{
    padding-top: 2%;
    padding-bottom: 1.5%;
   }
 
.flexible_plans p{
 text-align: center;
 font-size: 16px;
 padding-bottom: 3%;
}
 
.flexible_plans button{
    background-color:#8fc400;
    color: white;
    text-transform: uppercase;
}
 
 
/*Footer 1*/
 
.footer_p1{
    margin-top: 4%;
}
 
.footer_p1 ul li{
    list-style-type: none;
}
 
.footer_p1 a{
    color:#444747;
}
 
.title_footer{
    color:#8fc400;
    text-transform: uppercase;
    font-weight: bold;
}
 
.download_app button{
    background-color:white;
    color: #8fc400;
    border: 1px solid #8fc400;
}
 
/*Footer 2*/
 
.brand p{
    color:#CFD3D4;
}
 
.terms_privacy a{
    color: #AEB3B5;
}
 
.footer_p2 ul li{
    list-style-type: none;
    display: inline;
}
 
/*Chatbox*/

h1, h2, h3, h4, h5 {
    color: #444747;
    text-align: center;
}


/* mediaQ  */
@media only screen and (min-width: 1200px){
    #hello{
    min-height: 700px;
    background-image: url(https://res.cloudinary.com/hellofresh/image/upload/f_auto,fl_lossy,q_auto/v1/hellofresh_website/us/cms/lentil/delicious/HF-Main-2560x700-Green.jpg);
}
#MsgHello{
    top: 47%;
    left: 50%;
}
#MsgHello h1{
    font-size: 4.5vw;
}
    #what{
    height:450px;
    background-image: url(https://res.cloudinary.com/hellofresh/image/upload/c_fill,f_auto,fl_lossy,h_450,q_auto,w_1855/v1/hellofresh_website/us/cms/lentil/delicious/what-you-get_2560x450.jpg);
}
#what p{
    font-size: 1vw;
}
.logosvg{
    display: none;
}
hr{
    display: none;
}
.LoginResponsiveVanish{
    display: none;
}
.bside{
    display: none;
}
}
@media only screen and (max-width: 1200px) {
    #hello{
        min-height: 700px;
        background-image: url(https://res.cloudinary.com/hellofresh/image/upload/f_auto,fl_lossy,q_auto/v1/hellofresh_website/us/cms/lentil/delicious/HF-Main-1440x700-Green.jpg);
    }
    #MsgHello{
        top: 47%;
        left: 50%;
    }
    #MsgHello h1{
        font-size: 4vw;
    }
    #what{
        
        height:450px;
        background-image: url(https://res.cloudinary.com/hellofresh/image/upload/c_fill,f_auto,fl_lossy,h_450,q_auto,w_1855/v1/hellofresh_website/us/cms/lentil/delicious/what-you-get_2560x450.jpg);
    }
    #what p{
        font-size: 1.45vw;
    }
    .logosvg{
        display: none;
    }
    hr{
        display: none;
    }
    .LoginResponsiveVanish{
        display: none;
    }
    .bside{
        display: none;
    }
}
@media only screen and (max-width: 992px) {
    #hello{
        min-height: 750px;
        background-image: url(https://res.cloudinary.com/hellofresh/image/upload/f_auto,fl_lossy,q_auto/v1/hellofresh_website/us/cms/lentil/delicious/HF-Main-1023x650-Green.jpg);
    }
    #MsgHello h1{
        font-size: 4.4vw;
    }
    #what{
        height:550px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(https://res.cloudinary.com/hellofresh/image/upload/c_fill,f_auto,fl_lossy,h_450,q_auto,w_1855/v1/hellofresh_website/us/cms/lentil/delicious/what-you-get_1199x450.jpg);    
}
#what p{
    font-size: 1.3vw;
}
.logosvg{
    display: none;
}
hr{
    display: none;
}
.LoginResponsiveVanish{
    display: none;
}
.bside{
    display: none;
}
}
@media only screen and (max-width: 767px) {
    #hello{
        min-height: 650px;
        background-image: url(https://res.cloudinary.com/hellofresh/image/upload/f_auto,fl_lossy,q_auto/v1/hellofresh_website/us/cms/lentil/delicious/HF-Main-767x650-Green.jpg);
    }
    #MsgHello{
        top: 30%;
        left: 50%;
    }
    #MsgHello h1{
        font-size: 4vw;
    }
    #what{
        height:550px;
        background-image: url(https://res.cloudinary.com/hellofresh/image/upload/c_fill,f_auto,fl_lossy,h_450,q_auto,w_1700/v1/hellofresh_website/us/cms/lentil/delicious/what-you-get_767x450.jpg);    
    }
    #what p{
        font-size: 2vw;
    }
   
    .logosvg{
        display: inline-block;
    }
    hr{
        display: block;
    }
    #HFlogo{
        width: 45px;
        height: 49px;
        display: inline-block;
        right: 80%;
    }
    .LoginResponsiveVanish{
        display: block;
    }
    .bside{
        display: inline;
    }
    

}
@media only screen and (max-width: 639) {
    #hello{
        min-height: 650px;
        background-image: url(https://res.cloudinary.com/hellofresh/image/upload/f_auto,fl_lossy,q_auto/v1/hellofresh_website/us/cms/lentil/delicious/HF-Main-543x450-Green.jpg);
    }
    #what{
        height:450px;
        background-image: url(https://res.cloudinary.com/hellofresh/image/upload/c_fill,f_auto,fl_lossy,h_450,q_auto,w_1700/v1/hellofresh_website/us/cms/lentil/delicious/what-you-get_767x450.jpg);
    }
    #what p{
        font-size: 0.6vw;
    }
    .logosvg{
        display: block;
    }
    hr{
        display: block;
    }
    .LoginResponsiveVanish{
        display: block;
    }

}
@media only screen and (max-width: 576px) {
    #hello{
        background-image: url(https://res.cloudinary.com/hellofresh/image/upload/f_auto,fl_lossy,q_auto/v1/hellofresh_website/us/cms/lentil/delicious/HF-Main-543x450-Green.jpg);
        min-height: 450px;    
    }
    #MsgHello{
        top: 45%;
        left: 50%;
    }
    #what{
        height:500px;
        background-image: url(https://res.cloudinary.com/hellofresh/image/upload/c_fill,f_auto,fl_lossy,h_450,q_auto,w_1700/v1/hellofresh_website/us/cms/lentil/delicious/what-you-get_767x450.jpg);    
    }
    #what p{
        font-size: 2.9vw;
    }

    .logosvg{
        display: inline;
    }
    hr{
        display: block;
    }
    .LoginResponsiveVanish{
        display: block;
    }
}


    
    